<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Login</title>
        <script type="text/javascript">
            var name = 'Trevor page'
            var age = 37
            alert('Hello World! My name is ' + name+ ', age is ' + age + '.')
            alert(`Hello world! My name is ${name}, age is ${age}.`)
            
        </script>
    </head>
    <body>
        <h1>Login Below</h1>
        <div>
            Username: <input type="text" th:field="${user.username}"/>
        </div>
        <div>
            Password: <input type="password" th:field="${user.password}"/>
        </div>
        <div>
            <button>Login</button>
        </div>
    </body>
</html>
